/desktop.ini
/Genshin Impact.lnk
/GitHub Desktop.lnk
/IIT
/Microsoft VS Code
/SceneBuilder.lnk
/SEB Configuration Tool.lnk
/Summer camp23
/tempCodeRunnerFile.java
/Worksheet
/worsheet.py
/Year 2 SEM 1